node_modules/
dist/
build/
target/
debug/
coverage/
temp/
tmp/
logs/

*.log
*.tgz
.DS_Store
Thumbs.db

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
env.json
environment.json
environments.json

# nx
.nx/installation
.nx/cache
.nx/workspace-data

# aws
.aws-sam
